constructor Zero 0
constructor Succ 1

let rec ack m n = 
  match (m,n) with
  |(Zero,Zero) -> Succ Zero
  |(Zero,Succ n ) -> Succ (Succ n)
  |(Succ m,Zero) -> ack m (Succ Zero)
  |(Succ m,Succ n) -> ack m (ack (Succ m) n)
end

 
