
(* test file *)

constructor O 0
constructor S 1
constructor Unit 0
constructor T 3

let rec plus x y =
  match x with
  | O   -> y
  | S p -> S (plus p y)
  end

let rec f x = g (S x)

and g x =
  match x with
  | S (S x) -> f x
  | T a b c -> Unit
  | _ -> Unit
  end

let rec h x = f (S x)
